@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
html {
  overflow: hidden;
  overflow-x: hidden;
}
body {
  background: #fefefe !important;

  width: 100%;
  margin: 0px;
  color: #000 !important;
  font-family: "Open Sans", sans-serif !important;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  width: 0;
  background: transparent;
}

input:focus {
  outline: none !important;
  border: 1px solid white;
  box-shadow: 0 0 10px #719ece;
}

textarea:focus {
  outline: none !important;
  border: 1px solid white;
  box-shadow: 0 0 10px #719ece;
}
